.calculator{
	height: 340px;
	width: 280px;
	background: #e8e8e8;
	margin: 50px auto;
	padding: 10px;
	border: 1px solid #777;
}
.main-bar{
	margin-bottom: 20px;
	text-align: right;
}
.btn{
	cursor: pointer;
	font-size: 20px;
	width: 61px;
	outline: none;
}
.btn:active{
	outline: none;
	border: none;
}
.line{
	margin-bottom: 10px;
}
.last input{
	width: 126px;
}
.main-bar{
	font-size: 23px;
	font-weight: bolder;
	padding: 10px 5px;
	height: 40px;
}